// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Media Query
@mixin breakpoint( $mq-breakpoint, $mq-breakpoints: $breakpoints ) {
	// If $mq-breakpoint is a key that exists in
	// $mq-breakpoints, get and use the value
	@if map-has-key( $mq-breakpoints, $mq-breakpoint ) {
	  $mq-breakpoint: map-get( $mq-breakpoints, $mq-breakpoint );
	}
	
	@media screen and ( min-width: #{$mq-breakpoint} ) {
	  @content;
	}
  }
  
  